.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  min-width: 300px;
}
.controlsContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 10px;
  background-color: white;
  opacity: 95%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  page-break-inside: avoid;
}

.emptyPage {
  height: calc(100vh - 100px);
  
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abcImage {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
}


.card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  position: relative;
}

.cardImage {
  width: 100%;
  height: auto;
  max-height: 190px;
  border-radius: 4px;
}

.imageContainer {
  width: 180px;
  height: 250px;
}

.card #wordLabel {
  margin-top: 10px;
  font-size: 30px;
}

.cardIcons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.icon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  cursor: default;
}

.card:hover .cardIcons {
  display: flex;
}

.card:hover .icon {
  display: inline-block;
  cursor: pointer;
}

@media print {
  .controlsContainer,
  .cardIcons,
  .icon,
  .card:hover .cardIcons,
  .card:hover .icon {
    display: none;
  }

  .cardWrapper {
    page-break-inside: avoid;
    break-inside: avoid; 
  }

}
